<a href="https://colab.research.google.com/github/marantmir/curso_formacao_data_science/blob/main/IntroducaoDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando Bibliotecas

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Analisando as notas em geral

Lendo o dataset

```

```

In [2]:
notas = pd.read_csv("ratings.csv")
notas.head()

FileNotFoundError: ignored

Visualizar quantidade de linhas e colunas possui no dataset

In [ ]:
notas.shape

Renomeando as colunas

In [ ]:
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]
notas.head()

Filtrando apenas os valores únicos  da coluna notas

In [ ]:
notas['nota'].unique()

Contar valores

In [ ]:
notas['nota'].value_counts()

In [ ]:
notas.nota.plot(kind = 'hist')

Obtendo a Média de todas as notas

In [ ]:
print("Media", notas['nota'].mean())
print("Mediana", notas['nota'].median())

Explorar dados visualmente

In [ ]:
notas.nota.head()

In [ ]:
notas.nota.plot(kind = 'hist')

In [ ]:
notas.nota.describe()

Visualizando informações com a Biblioteca Seaborn

In [ ]:
sns.boxplot(notas.nota)

# Analisando os filmes

Carregando dados do dataset movies.csv

In [ ]:
filmes = pd.read_csv("movies.csv")
filmes.head()

Gerando histograma e estatísticas básicas das notas

In [ ]:
notas.nota.plot(kind='hist')
notas.nota.describe()

Renomeando as colunas do dataset

In [ ]:
filmes.columns = ["filmeId", "titulo", 'generos']

Analisando algumas notas específicas por filme

In [ ]:
notas.query("filmeId==1").nota.mean()

Agrupar dataset pelo filmeId e gerando a média e mostrando apenas a média da coluna nota

In [ ]:
notas.groupby("filmeId").mean().nota

Atribuindo o valor gerado em uma variável

In [ ]:
medias_por_filme = notas.groupby("filmeId").mean().nota
medias_por_filme.head()

Plotar informações no Histograma

In [ ]:
medias_por_filme.plot(kind="hist")

Plotando gráficos com Seaborn

In [ ]:
sns.boxplot(medias_por_filme)

Visualizando as estatísticas básicas através do describe

In [ ]:
medias_por_filme.describe()

Gráfico de Distribuição

In [ ]:
sns.distplot(medias_por_filme, bins=10)

Gerando Histograma com a biblioteca Matplotlib, incluindo o Título

In [ ]:
plt.hist(medias_por_filme)
plt.title("Histograma das médias dos filmes")

Gerando Boxplot na vertical ou seja no eixo y com Matplotlib

In [ ]:
sns.boxplot(y=medias_por_filme)

Alterando o tamanho do Boxplot com Matplotlib

In [ ]:
plt.figure(figsize=(5,8))
sns.boxplot(y=medias_por_filme)

Médias dos Filmes 1,2 e 3

In [ ]:
print("Média dos Filmes com ID 1:", notas.query("filmeId==1").nota.mean())
print("Média dos Filmes com ID 2:", notas.query("filmeId==2").nota.mean())
print("Média dos Filmes com ID 3:", notas.query("filmeId==3").nota.mean())

Obtendo a média de todos os filmes

In [ ]:
medias_por_filme = notas.groupby("filmeId").nota.mean()
medias_por_filme.head()

# Analisando dados TMB Filmes

Lendo e visualizando os dados

```
# Isto está formatado como código
```

In [7]:
tmdb = pd.read_csv("tmdb_5000_movies.csv")
tmdb.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

Mostrando as linguagens originais sem repetição

In [8]:
tmdb.original_language.unique()

array(['en', 'ja', 'fr', 'zh', 'es', 'de', 'hi', 'ru', 'ko', 'te', 'cn',
       'it', 'nl', 'ta', 'sv', 'th', 'da', 'xx', 'hu', 'cs', 'pt', 'is',
       'tr', 'nb', 'af', 'pl', 'he', 'ar', 'vi', 'ky', 'id', 'ro', 'fa',
       'no', 'sl', 'ps', 'el'], dtype=object)

In [9]:
tmdb.vote_average.unique()

array([ 7.2,  6.9,  6.3,  7.6,  6.1,  5.9,  7.4,  7.3,  5.7,  5.4,  7. ,
        6.5,  6.4,  6.2,  7.1,  5.8,  6.6,  7.5,  5.5,  6.7,  6.8,  6. ,
        5.1,  7.8,  5.6,  5.2,  8.2,  7.7,  5.3,  8. ,  4.8,  4.9,  7.9,
        8.1,  4.7,  5. ,  4.2,  4.4,  4.1,  3.7,  3.6,  3. ,  3.9,  4.3,
        4.5,  3.4,  4.6,  8.3,  3.5,  4. ,  2.3,  3.2,  0. ,  3.8,  2.9,
        8.5,  1.9,  3.1,  3.3,  2.2,  0.5,  9.3,  8.4,  2.7, 10. ,  1. ,
        2. ,  2.8,  9.5,  2.6,  2.4])

Descobrindo quantas vezes cada lingua original dos filmes aparecem

In [12]:
tmdb.original_language.value_counts()

en    4505
fr      70
es      32
de      27
zh      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
fa       4
nl       4
he       3
th       3
id       2
ar       2
ta       2
cs       2
ro       2
ps       1
nb       1
is       1
vi       1
el       1
hu       1
af       1
pl       1
ky       1
tr       1
no       1
sl       1
xx       1
te       1
Name: original_language, dtype: int64

Criando um dataframe a partir do índice

In [13]:
tmdb.original_language.value_counts().to_frame()

    original_language
en               4505
fr                 70
es                 32
de                 27
zh                 27
hi                 19
ja                 16
it                 14
cn                 12
ru                 11
ko                 11
pt                  9
da                  7
sv                  5
fa                  4
nl                  4
he                  3
th                  3
id                  2
ar                  2
ta                  2
cs                  2
ro                  2
ps                  1
nb                  1
is                  1
vi                  1
el                  1
hu                  1
af                  1
pl                  1
ky                  1
tr                  1
no                  1
sl                  1
xx                  1
te                  1

Resetar o índice

In [14]:
tmdb.original_language.value_counts().to_frame().reset_index()

   index  original_language
0     en               4505
1     fr                 70
2     es                 32
3     de                 27
4     zh                 27
5     hi                 19
6     ja                 16
7     it                 14
8     cn                 12
9     ru                 11
10    ko                 11
11    pt                  9
12    da                  7
13    sv                  5
14    fa                  4
15    nl                  4
16    he                  3
17    th                  3
18    id                  2
19    ar                  2
20    ta                  2
21    cs                  2
22    ro                  2
23    ps                  1
24    nb                  1
25    is                  1
26    vi                  1
27    el                  1
28    hu                  1
29    af                  1
30    pl                  1
31    ky                  1
32    tr                  1
33    no                  1
34    sl                  1
35    xx                  1
36    te                  1

Renomear as colunas

In [15]:
contagem_de_lingua = tmdb.original_language.value_counts().to_frame().reset_index()
contagem_de_lingua.columns = ["origianl_language", "total"]
contagem_de_lingua.head()

  origianl_language  total
0                en   4505
1                fr     70
2                es     32
3                de     27
4                zh     27